<template>
  <!-- <img alt="Vue logo" src="./assets/logo.png">
  <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/> -->
  <div class="app">
    <JobList :jobs="jobs" />
  </div>
</template>

<script lang="ts">
import { ref } from 'vue';
import { Options, Vue } from 'vue-class-component';
import JobList from './components/JobsList.vue';
import Job from './types/Job';
// import HelloWorld from './components/HelloWorld.vue';

@Options({
  components: {
    JobList,
  },
  data() {
    const jobs = ref<Job[]>([
      {
        title: 'farm worker',
        location: 'lon lon ranch',
        salary: 30000,
        id: '1',
      },
      {
        title: 'cashier',
        location: 'brazil',
        salary: 20000,
        id: '2',
      },
      {
        title: 'fisherman',
        location: 'mexico',
        salary: 55000,
        id: '3',
      },
      {
        title: 'director',
        location: 'us',
        salary: 10500,
        id: '4',
      },
      {
        title: 'fisherman',
        location: 'spain',
        salary: 70000,
        id: '5',
      },
    ]);

    return {
      jobs,
    };
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
